* {
	box-sizing: border-box;
}

input, textarea, select, button {
	font: inherit;
	color: inherit;
	background-color: transparent;
	border: none;
}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-color: #FAFAFA;
	font-family: sans-serif;
}

.wrapper {
	width: 100%;
	max-width: 67.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin: auto;
}

.wrapper.nopadding {
	padding-left: 0;
	padding-right: 0;
}

.row::after {
	content: '';
	display: block;
	clear: both;
}

pre {
    padding: 1rem;
    border-radius: .25rem;

    white-space: normal;
    word-break: break-all;
    overflow: hidden;

    background-color: #263238;
    color: #fff;
}

form {
	text-align: center;
	background-color: #2196F3;
	color: #fff;
}

form.loading > * {
	pointer-events: none;
	opacity: .5;
}

label {
	position: relative;

	display: inline-block;
	margin: 1em .5em;

	text-align: left;
}

input { margin: 0; }

input:focus { outline: none; }

input[type="text"] {
	display: block;

	width: 100%;
	padding: .5em 0;

	border-bottom: .15rem solid #fff;
	
	background: transparent;
	color: #fff;
}

input[type="text"]:focus {
	background-color: #42A5F5;
}

input[type="text"] + span {
	position: absolute;
	left: 0;
	top: .5rem;

	transition: top .2s, font-size .2s;
}

input[type="text"]:focus + span,
input[type="text"]:valid + span {
	top: -.75rem;

	font-size: .75em;
}

input[type=range] {
	-webkit-appearance: none;
	width: 3.5em;
	height: 2em;
	margin: 0;
	padding: .25em;
	border-radius: 1em;
	background: #fff;
}

input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;

	cursor: pointer;
	width: 100%;
	height: 0;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	cursor: pointer;

	width: 1.5em;
	height: 1.5em;
	margin: -.75em 0;

	border-radius: 100%;

	background-color: #FFC107;
}

#transactionTypeSwitch {
	margin-bottom: -.75em;
}

#transactionTypeSwitch span {
	display: block;
	float: left;
}

#transactionTypeSwitch span {
	margin-top: .5em;
	margin-bottom: .5em;
}

.checkboxBackground {
    width: 2.5em;
    background-color: #fff;
    margin: .5em 1em;
    border-radius: .5em;
}

input[type="checkbox"] {
	-webkit-appearance: none;

	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: -.25em;

	border-radius: 100%;

	background: #42A5F5 url(/images/singleInvoice.svg) no-repeat center;
	background-size: cover;
	color: #fff;
}

input[type="checkbox"]:checked {
	margin: -.25em -.25em -.25em 1.25em;

	background-image: url(/images/period.svg);
}

button {
	padding: .5em;
	text-transform: uppercase;
}
button:hover { background-color: #42A5F5 }

#sellerIdLabel,
#invoiceIdLabel {
	width: 10rem;
}

#actionForm.period #sellerIdLabel {
	width: 21.25rem;
}

#actionForm.period #invoiceIdLabel {
	display: none;
}

#notarize,
#revoke {
	display: none;
}

#notarize.active,
#revoke.active {
	display: inline-block;
	background-color: #4CAF50;
	color: #fff;
}

.key::before {
	content: '';
	display: block;
}

.key { color: #FFC107; }
.number { color: #F44336; }
.string { color: #2196F3; }